data/fineweb-edu10B/
data/fineweb-edu100B/
data/fineweb100B/
data/fineweb10B/
pylog124M/
__pycache__/
logs/
.cache/triton
.cache/wandb
sc_venv_template_hydra/.cache/
sc_venv_template_hydra/.tmp/
sc_venv_template_hydra/venv*
wandb/
*log
